<ion-content class="profile-page">
  <app-global-header></app-global-header>

  <!-- Loader -->
  <ng-container *ngIf="isLoading; else content">
    <ion-spinner name="crescent" class="center-spinner"></ion-spinner>
  </ng-container>

  <ng-template #content>

    <!-- Profile Card -->
    <div class="profile-card">
      <div class="profile-card-header">
        <h1>Personal Profile</h1>
      </div>

      <div class="profile-wrapper main-container">
        <div class="profile-info">

          <div class="avatar-wrapper">
            <ion-avatar class="avatar">
              <img
                [src]="form.profile_image_url || 'assets/placeholder-avatar.png'"
              />
              <img
                *ngIf="userBadge"
                [src]="userBadge.image_url"
                class="badge-img"
              />
            </ion-avatar>

            <!-- Edit Avatar -->
            <ion-icon
              name="pencil-outline"
              class="edit-avatar-icon"
              (click)="fileInput.nativeElement.click()">
            </ion-icon>

            <!-- Hidden file input -->
            <input
              type="file"
              #fileInput
              hidden
              accept="image/*"
              (change)="onFileSelected($event)"
            />
          </div>

          <div class="profile-name">
            <h2>{{ form.display_name }}</h2>
            <p *ngIf="userBadge">{{ userBadge.name }} Badge</p>
            <p>Reviews: {{ reviewCount }}</p>
          </div>

        </div>
      </div>
    </div>

    <!-- FORM -->
    <div class="form-wrapper main-container">
      <form (ngSubmit)="save()">

        <ion-list lines="none">

          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input placeholder="Display Name" [(ngModel)]="form.display_name" name="display_name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input placeholder="First Name" [(ngModel)]="form.first_name" name="first_name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input placeholder="Last Name" [(ngModel)]="form.last_name" name="last_name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-input
              type="tel"
              placeholder="Phone"
              maxlength="14"
              [(ngModel)]="form.phone"
              name="phone"
              (ionInput)="onPhoneInput($event)">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-input placeholder="Business Name" [(ngModel)]="form.business_name" name="business_name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="construct-outline" slot="start"></ion-icon>
            <ion-select placeholder="Trade" [(ngModel)]="form.trade" name="trade">
              <ion-select-option *ngFor="let s of services" [value]="s.name">
                {{ s.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-input placeholder="City" [(ngModel)]="form.city" name="city"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="map-outline" slot="start"></ion-icon>
            <ion-input inputmode="numeric" maxlength="5" placeholder="ZIP" [(ngModel)]="form.zip" name="zip"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="flag-outline" slot="start"></ion-icon>
            <ion-select placeholder="State" [(ngModel)]="form.state" name="state" interface="popover">
              <ion-select-option *ngFor="let s of states" [value]="s.code">
                {{ s.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon name="id-card-outline" slot="start"></ion-icon>
            <ion-input placeholder="License #" [(ngModel)]="form.license_number" name="license_number"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button expand="block" type="submit">Save Profile</ion-button>

        <ion-button expand="block" color="dark" routerLink="/tabs/setting">
          Edit Preferences
        </ion-button>

        <ion-button expand="block" color="dark" routerLink="/tabs/notifications">
          Notifications
        </ion-button>

        <ion-button expand="block" color="danger" (click)="confirmDelete()">
          Delete Account
        </ion-button>

      </form>
    </div>

  </ng-template>
</ion-content>
